#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.m-container{
 background-color: black;
 color: white;

}

.container{
  background-color: red;
  display: grid;
  margin: 1rem;
}